@font-face {
  font-family: tangerine;
  src: url('./fonts/Tangerine-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: tangerine;
  src: url('./fonts/Tangerine-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'tangerine', sans-serif;
}

section {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); 
  justify-items: center; 
  align-items: center; 
  gap: 3rem; 
  padding-inline: 1rem;
  min-height: 420px;
}

@media (max-width: 768px) {
  section {
    gap: 80px;
  }
}

article {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 250px;
  height: 300px;
  background-image: url(img/istockphoto-172397431-612x612.jpg);

  border-radius: 5%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7); /* Efecto de sombra difusa */

  &:after {
    position: absolute;
    content: '';
    left: 0;
    top: 3.33%;
    z-index: 4;
    width: 25%;
    height: 80%;

    background-color: #c28654;
    background-image: url(img/istockphoto-172397431-612x612.jpg);

    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
    border-radius: 2% 0 0 0;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: 3;

    left: 0;
    top: 2.33%;
    width: 26%;
    height: 84%;
    background-color: rgb(0, 0, 0);

    -webkit-mask-image: radial-gradient(
        circle at left,
        transparent 0%,
        rgba(0, 0, 0) 50%,
        transparent 100%
      ),
      radial-gradient(
        circle at top,
        transparent 0%,
        rgba(0, 0, 0) 50%,
        transparent 100%
      );

    mask-image: radial-gradient(
        circle at left,
        transparent 0%,
        rgba(0, 0, 0) 60%,
        transparent 100%
      ),
      radial-gradient(
        circle at top,
        transparent 0%,
        rgba(0, 0, 0) 60%,
        transparent 100%
      );
    mask-composite: intersect;

    clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
    border-radius: 4% 0% 0% 0;
  }
}

.clip {
  position: absolute;
  width: 40%;
  height: 50%;
  top: -14.3%;
  left: 6%;
  z-index: 2;
  transition: all 0.3s ease-in-out;

  > svg {
    width: 100%;
    height: 100%;
  }
}

.papel {
  width: 80%;
  height: 85%;
  background-color: #f7dcbb;
  position: relative;
  left: 0;
  transition: all 0.3s ease-in-out;
  /* establecer치 el tipo de tama침o que va a tener el contenedor en cuesti칩n, donde puede ser size. */
  -webkit-container-type: size;
  container-type: size;

  &:hover {
    left: 20%;
  }

  > p {
    padding-inline: 10px;
    font-size: 11cqb; /*Porcentaje relativo al tama침o de bloque. */
  }
}

.papel:hover + .clip {
  left: 5px;
}

/* Cambiar color del papel */
section {
  > article:nth-child(1) > .papel {
    background-color: #dab49e;
  }
  > article:nth-child(2) > .papel {
    background-color: #b8bede;
  }
  > article:nth-child(3) > .papel {
    background-color: #e9d6b8;
  }
  > article:nth-child(4) > .papel {
    background-color: #987184;
  }
  > article:nth-child(5) > .papel {
    background-color: #ddea7e;
  }
  > article:nth-child(6) > .papel {
    background-color: #e1b3ea;
  }
  > article:nth-child(7) > .papel {
    background-color: #6a9071;
  }
}
