* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  & .boca {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .superior {
      width: 300px;
      height: 200px;
      background-color: #fd545b;
      display: flex;
      align-items: center;

      & .izquierda {
        width: 125px;
        height: 200px;
        background-color: blueviolet;
        border-radius: 75px;
        -webkit-border-radius: 75px;
        -moz-border-radius: 75px;
        -ms-border-radius: 75px;
        -o-border-radius: 75px;
        transform: rotate(75deg);
        -webkit-transform: rotate(75deg);
        -moz-transform: rotate(75deg);
        -ms-transform: rotate(75deg);
        -o-transform: rotate(75deg);
      }

      & .centro {
        width: 100px;
        height: 100px;
        /* background-color: aqua; */
        background-color: blueviolet;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }

      & .derecha {
        width: 125px;
        height: 200px;
        background-color: blueviolet;
        border-radius: 75px;
        -webkit-border-radius: 75px 75px 125px 125px;
        -moz-border-radius: 75px;
        -ms-border-radius: 75px;
        -o-border-radius: 75px;
        transform: rotate(-75deg);
        -webkit-transform: rotate(-75deg);
        -moz-transform: rotate(-75deg);
        -ms-transform: rotate(-75deg);
        -o-transform: rotate(-75deg);
      }
    }
  }
}
