* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cuenca {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  position: relative; 
  overflow: hidden; 
}

.pupila {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
