div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  background: radial-gradient(circle at 30% 30%, #6dd5ed, #2193b0);
  box-shadow:
    0 0 10px rgba(0, 0, 0, 0.3),
    0 0 20px rgba(33, 147, 176, 0.5),
    0 0 30px rgba(33, 147, 176, 0.3),
    0 0 50px rgba(33, 147, 176, 0.2);

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
 
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}
