body {
  margin: 0;
  background: black;
}

.contenedor {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.contenedor > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.fondoIluminado {
  position: absolute;
  inset: 0;
  z-index: 2;

  --x: 50%;
  --y: 50%;

  background: radial-gradient(
    circle 150px at var(--x) var(--y),
    transparent 0%,
    transparent 40%,
    rgba(0, 0, 0, 0.95) 70%
  );
}

.fondoNegro {
  position: absolute;
  inset: 0;
  z-index: 2;

  --x: 50%;
  --y: 50%;
  background-color: rgba(0, 0, 0, 0.95);
}

#linterna {
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#linterna.encendida {
  width: 1px;
  height: 1px;
  box-shadow:
    0 0 15px 5px rgba(0, 0, 0, 0.35),
    0 0 75px 20px rgba(255, 215, 0, 0.6),
    0 0 110px 35px rgba(255, 200, 0, 0.4),
    0 0 150px 50px rgba(255, 180, 0, 0.25);
}

#linterna.apagada {
  width: 50px;
  height: 50px;
  box-shadow: none;
}
